@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');
* {
    font-family: 'Anek Malayalam', sans-serif;
    transition: .5s ease;
    /* border: 1px solid; */
}

body {
    /* background-color: #fff; */
    /* background-color: #8EC5FC; */
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background-color: #ffffff;
    /* height: 100vh; */
}

input {
    outline:1px solid #000;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}
input::placeholder{
        color: #000;
        opacity: .7; 
}
input:focus {
    outline: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

#btn{
    transition: none;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}