*{
    transition: .5s ease;
    /* border: 1px solid; */
}
.cssborder{
    border: 2px soild red;
}
body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}